body {
    margin: 0;
    font-family: 'NanumBarunpen';
}
a {
    text-decoration: none;
    color: white;
}
.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #2e5383;
    padding: 5px 15px;
}
.navbar__logo {
    display: flex;
}
.navbar__logo a {
    font-size: 30px;
    color: white;
}

.navbar__menu {
    display: flex;
    list-style: none;
    padding-left: 0;
}
.navbar__menu li {
    padding: 8px 30px;
    font-size: 20px;
}
.navbar__menu li:hover {
    background-color: rgba(0, 0, 0, 0.274);
    border-radius: 4px;
}
.navbar__icons  {
    list-style: none;
    color: white;
    display: flex;
    padding-left: 0;

}
.navbar__icons li {
    padding: 8px 15px;
}
.navbar__toogleBtn {
    display: none;
    position: absolute;
    right: 32px;
    font-size: 24px;
    color:#2e5383 ;
}
@media screen and (max-width: 768px) {
    .navbar {
        flex-direction: column;
        align-items: flex-start;
        padding: 8px 24px;
    }
    .navbar__menu {
        display: none;
        flex-direction: column;
        align-items: center;
        width: 100%;
    }
    .navbar__menu li {
        width: 100%;
        text-align: center;
    }
    .navbar__icons {
        display: none;
        justify-content: center;
        width: 100%;
    }
    .navbar__toogleBtn { 
        display: block;
    }
    .navbar__menu.active,
    .navbar__icons.active {
        display: flex;
    }
}

/* 이미지 슬라이더 시작 */
.bbox {
    display: inline-block;
    position: absolute;
    left: 550px;
    top: 100px;
    width: 40vw;
}
.bbox h2 {
    padding: 20px 41px;
    font-size: 30px;
    color: #777;
    font-weight: normal;
    text-align: center;
    letter-spacing: 36px;
}
.bbox h2 span {
    color:#2e5383 ;
}
.ccontainer {
    width: 300vw;
    transition: transform 0.5s ;
}
.text {
    position: absolute;
    color: white;
}
.screen {
    position: relative;
    overflow: hidden;
}
.top {
    position: absolute;
    bottom: 150%;
    left: 30px;
    z-index: 2;
    color: #fff;
    font-size: 26px;
    font-weight: 900;
}
.bottom {
    position: absolute;
    top: 150%;
    left: 30px;
    z-index: 2;
    color: #fff;
    font-size: 12px;
}
.screen img {
    width: 100%;
}
h3 {
    font-size: 14px;
    text-align: center;
    padding: 20px;
    color: #666;
}
.inner {
    width: 40vw;   
    float: left;
}
.inner img {
    width: 100%;
}
.빠튼, .빠튼-1, .빠튼-2 {
    position: relative;
    top: 650px;  
    left: 865px;
    background-color: black;
    border-radius: 60%;
    color: white;
    border:2px solid white;
    margin-bottom: 20px;
}
/* 이미지 슬라이더 끝 */