body {
    margin: 0;
    font-family: 'NanumBarunpen';
}
a {
    text-decoration: none;
    color: white;
}
.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #2e5383;
    padding: 5px 15px;
}
.navbar__logo {
    display: flex;
}
.navbar__logo a {
    font-size: 30px;
    color: white;
}
.navbar__menu {
    display: flex;
    list-style: none;
    padding-left: 0;
}
.navbar__menu li {
    padding: 8px 30px;
    font-size: 20px;
}
.navbar__menu li:hover {
    background-color: rgba(0, 0, 0, 0.274);
    border-radius: 4px;
}
.navbar__icons {
    list-style: none;
    color: white;
    display: flex;
    padding-left: 0;
}
.navbar__icons li {
    padding: 8px 15px;
}
.navbar__toogleBtn { 
    display: none;
    position: absolute;
    right: 32px;
    font-size: 24px;
    color: #2e5383;
}
@media screen and (max-width:768px) {
    .navbar {
        flex-direction: column;
        align-items: flex-start;
        padding: 8px 24px;
    }
    .navbar__menu {
        display: none;
        flex-direction: column;
        align-items: center;
        width: 100%;
    }
    .navbar__menu li {
        width: 100%;
        text-align: center;
    }
    .navbar__icons {
        display: none;
        justify-content: center;
        width: 100%;
    }
    .navbar__toogleBtn {
        display: block;
    }
    .navbar__menu.active {
        display: flex;
    }
    .navbar__menu.active {
        display: flex;
    }
}
/* wallpaper */
.container {
    width: 100%;
    height: 91.4vh;
    background-image: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)), url(wall.png);
    background-position-y: -275px;
    padding-left: 5%;
    padding-right: 8%;
    box-sizing: border-box;
}
/* introduce */
.row { 
    display: flex;
    height: 88%;
    align-items: center;
    justify-content: space-between;
}
.row > .col1 {
    display: inline;
}
h1 {
    color: #c5d4eb;
    font-size: 70px;
}
.col > p { 
    color: white;
    font-size: 30px;
    margin-top: 10px;
    line-height: 40px;
}
button {
    width: 180px;
    color: #fff;
    font-size: 25px;
    padding: 10px 0px;
    background: #2e5383;
    border: 0;
    border-radius: 40px;
    outline: none;
    margin-top: 20px;
    font-family: 'NanumBarunpen';
}
button:hover {
    cursor: pointer;
    background-color: rgba(0, 0, 0, 0.274);
}
.col1 {
    display: flex;
    width: 18%;
    height: 90%;
    justify-content: center;
  }
  .card {
    width: 200px;
    height: 200px;
    display: block;
    border-radius: 10px;
    padding: 10px 20px;
    box-sizing: border-box;
    cursor: pointer;
    margin: 5px 10px;
    background-image: url(조이.png);
    background-position: center;
    background-size: cover;
    transition: transform 0.5s;
  }
  .card > h5 {
    font-size: 25px;
    color: white;
    margin-block-end: 0px;
    text-align: center;
  }
.card1 {
  background-image: url(Team.png);
}
.card2 {
  background-image: url(What.png);
}
.card3 {
  background-image: url(Store.png);
}
.card4 {
  background-image: url(Contact.png);
}
.card p {
    color: whitesmoke;
    text-shadow: 0 0 10px #000;
    font-size: 20px;
    margin-top: 5px;
    line-height: 25px;
    text-align: center;
}
h5 {
    color: white;
    text-shadow: 0 0 5px #999;
}
.card:hover {
    filter: brightness(90%);
    transform: translateX(-10px);
    background-color: rgba(0, 0, 0, 0.2);
}