 body {
     margin: 0;
     font-family: 'NanumBarunpen';
 }
 a {
     text-decoration: none;
     color: white;
 }
 .navbar {
     display: flex;
     justify-content: space-between;
     align-items: center;
     background-color: #2e5383;
     padding: 5px 15px;
 }
 .navbar__logo {
     display: flex;
 }
 .navbar__logo a {
     font-size: 30px;
     color: white;
 }

 .navbar__menu {
     display: flex;
     list-style: none;
     padding-left: 0;
 }
 .navbar__menu li {
     padding: 8px 30px;
     font-size: 20px;
 }
 .navbar__menu li:hover {
     background-color: rgba(0, 0, 0, 0.274);
     border-radius: 4px;
 }
 .navbar__icons  {
     list-style: none;
     color: white;
     display: flex;
     padding-left: 0;

 }
 .navbar__icons li {
     padding: 8px 15px;
 }
 .navbar__toogleBtn {
     display: none;
     position: absolute;
     right: 32px;
     font-size: 24px;
     color:#2e5383 ;
 }
 @media screen and (max-width: 768px) {
     .navbar {
         flex-direction: column;
         align-items: flex-start;
         padding: 8px 24px;
     }
     .navbar__menu {
         display: none;
         flex-direction: column;
         align-items: center;
         width: 100%;
     }
     .navbar__menu li {
         width: 100%;
         text-align: center;
     }
     .navbar__icons {
         display: none;
         justify-content: center;
         width: 100%;
     }
     .navbar__toogleBtn { 
         display: block;
     }
     .navbar__menu.active,
     .navbar__icons.active {
         display: flex;
     }
 }
 /* 배경화면 */
 .container {
     width: 100%;
     height: 100vh;
     background-image: linear-gradient(rgba(0,0,0,0.7),rgba(0,0,0,0.7)), url(wall.png);
     background-position: center;
     background-size: cover;
     padding-left: 4%;
     padding-right: 8%;
     box-sizing: border-box;
 }
 /* 소개글 */
 .row {
     display:flex;
     height: 88%;
     align-items: center;
 }
 .col {
     flex-basis: 50%;
 }
 .col > h1, p {
    margin-block:0;
 }
 h1 {
     color:#c5d4eb ;
     font-size: 70px;
 }
 p {
     color: white;
     font-size: 30px;
     line-height: 40px;
 }
