body {
    margin: 0;
    font-family: 'NanumBarunpen';
}
a {
    text-decoration: none;
    color: white;
}
.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #2e5383;
    padding: 5px 15px;
}
.navbar__logo {
    display: flex;
}
.navbar__logo a {
    font-size: 30px;
    color: white;
}

.navbar__menu {
    display: flex;
    list-style: none;
    padding-left: 0;
}
.navbar__menu li {
    padding: 8px 30px;
    font-size: 20px;
}
.navbar__menu li:hover {
    background-color: rgba(0, 0, 0, 0.274);
    border-radius: 4px;
}
.navbar__icons  {
    list-style: none;
    color: white;
    display: flex;
    padding-left: 0;

}
.navbar__icons li {
    padding: 8px 15px;
}
.navbar__toogleBtn {
    display: none;
    position: absolute;
    right: 32px;
    font-size: 24px;
    color:#2e5383 ;
}
@media screen and (max-width: 768px) {
    .navbar {
        flex-direction: column;
        align-items: flex-start;
        padding: 8px 24px;
    }
    .navbar__menu {
        display: none;
        flex-direction: column;
        align-items: center;
        width: 100%;
    }
    .navbar__menu li {
        width: 100%;
        text-align: center;
    }
    .navbar__icons {
        display: none;
        justify-content: center;
        width: 100%;
    }
    .navbar__toogleBtn { 
        display: block;
    }
    .navbar__menu.active,
    .navbar__icons.active {
        display: flex;
    }
}



.puggy{
    font-size: 20px;
    font-weight: bold;
    margin-bottom: 50px;
    text-align: left;
    color: #2e5383;
    position: relative; bottom: -60px;
    font-family: 'NanumBarunpen';
    right: -200px;
    bottom: -100px;
   
}


.yo{
    font-size: 32px;
    text-align: left;
    margin-bottom: 90px;
    position: relative; bottom: -60px;
    font-family: 'NanumBarunpen';
    right: -200px; 
    bottom: -90px;
}

/* ↓ 길뭉치 로고 */
.img{
    width: 450px;
    position: relative; left: 1020px;
    top: -220px;
}
.inner-container2{
    position: relative; top:-170px;
}

.큰제목{
    font-size: 29px;
    font-weight: bold;
    margin-bottom: 50px;
    text-align: left;
    color: #2e5383;
    position: relative; bottom: -60px;
    font-family: 'NanumBarunpen';
    right: -200px;
}

.부제목{
    font-size: 32px;
    text-align: left;
    margin-bottom: 90px;
    position: relative; bottom: -60px;
    font-family: 'NanumBarunpen';
    right: -200px; 
}

.fit-picture {
    width: 450px;
    position: relative; left: 1000px;
    position: relative; top: -100px;
}

.jocontainer{
    text-align: center;
    position: relative; bottom: -150px;
    position: relative; left: -33px;
    right: -20px;
    position: relative; top: -200px;
    right: -300px;
    
}
.name{
    font-size: 20px;
    color: #2e5383;
    display: flex;
    margin-left: 40px;
    margin-top: 10px;
    position: relative; bottom: -80px;
   
    
}

.joy{
    font-size:21px;
    color: black;
}
.ket{
    font-size:21px;
    color: black;
}
 
.vel{
    font-size:21px;
    color: black;
}
 
.don{
    font-size:21px;
    color: black;
}
 
 