body {
    margin: 0;
    font-family: 'NanumBarunpen';
}
a {
    text-decoration: none;
    color: white;
}
.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #2e5383;
    padding: 5px 15px;
}
.navbar__logo {
    display: flex;
}
.navbar__logo a {
    font-size: 30px;
    color: white;
}

.navbar__menu {
    display: flex;
    list-style: none;
    padding-left: 0;
}
.navbar__menu li {
    padding: 8px 30px;
    font-size: 20px;
}
.navbar__menu li:hover {
    background-color: rgba(0, 0, 0, 0.274);
    border-radius: 4px;
}
.navbar__icons  {
    list-style: none;
    color: white;
    display: flex;
    padding-left: 0;

}
.navbar__icons li {
    padding: 8px 15px;
}
.navbar__toogleBtn {
    display: none;
    position: absolute;
    right: 32px;
    font-size: 24px;
    color:#2e5383 ;
}
@media screen and (max-width: 768px) {
    .navbar {
        flex-direction: column;
        align-items: flex-start;
        padding: 8px 24px;
    }
    .navbar__menu {
        display: none;
        flex-direction: column;
        align-items: center;
        width: 100%;
    }
    .navbar__menu li {
        width: 100%;
        text-align: center;
    }
    .navbar__icons {
        display: none;
        justify-content: center;
        width: 100%;
    }
    .navbar__toogleBtn { 
        display: block;
    }
    .navbar__menu.active,
    .navbar__icons.active {
        display: flex;
    }
}
*{
    padding:0;
}
.video-con {
	font-size:0;
	max-width:850px;
	margin:0 auto;
}
.video-con > li {
	font-size:12px;
	display:inline-block;
	width:100%;
	vertical-align:top;background:#fff;padding:10px;
	box-sizing:border-box;
	border-radius:5px;
	box-shadow:1px 3px 5px rgba(0,0,0,.2);
	background:#f5f5f5;
    transition:all .35s;margin-bottom:30px;
    padding: 0;
}
.video-con > h3 {
	text-align:center;
	padding: 20px 41px;
	font-size:30px;
    font-weight: normal;
    text-align: center;
    letter-spacing: 15px;
    margin-block: 0;
}
.video-con > h3 span {
    color:#2e5383 ;
}
.textbox {
    cursor:pointer;
	text-align:center;
	margin:10px;
}
.textbox .title {
    background:#f5f5f5;
	padding:30px 10px;
	position:relative;
	z-index:30;
	max-width:100px;
	margin:0 auto;
    margin-top:-30px;
    font-size: 20px;
}
.textbox .title:after {
	content:'';
	display:block;
	width:20%;
	height:5px;
	border-radius:10px;
	position:absolute;
	top:10%;
	left:50%;
	transform:translateX(-50%);
	background:#2e5383;
}
.textbox .title:before {
	content:'';
	display:block;
	width:20%;
	height:5px;
	border-radius:10px;
	position:absolute;
	bottom:10%;
	left:50%;
	transform:translateX(-50%);
	background:#2e5383;
}

.thumb {
	width:auto;
	overflow:hidden;
	padding-bottom:56.25%;
	position:relative;
}
.thumb img {
	position:absolute;
	top:50%;
	left:50%;
	transform:translate(-50%,-50%);
	width:100%;
	transition: .35s ease-in-out;
	z-index:10;
}
.thumb:before {
	content:'';
	display:block;
	width:100%;
	height:100%;
	position:absolute;
	top:50%;
	left:50%;
	transform:translate(-50%,-50%);
	background:rgba(0,0,0,.6) url('./img/eye.png') center center no-repeat;
	transition: .35s ease-in-out;
	z-index:20;
	opacity:0;
}
.desc {
	display:inline;
	margin-top:20px;
	font-size:20px;
	line-height:1.6;
	color:#333;
	word-break:keep-all;
	text-align:left;
}
.desc .pen {
	position:relative;
}
.desc .pen span {
	position:relative;
	z-index:10;
}
.desc .pen:after {content:'';
position:absolute;
height:100%;
width:0;
top:0;
left:0;
background:#94b2da;
transition:.35s;
z-index:5;
}
.textbox:hover .thumb img {
	width:110%;
}
.textbox:hover .thumb:before {
	opacity:1;
}
.textbox:hover .desc .pen:after {
	width:100%;
}
.inner-container1 {
    width: 100%;
    height: 100%;
    background-image: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)), url(background.jpg);
    padding-left: 5%;
    padding-right: 8%;
    box-sizing: border-box;
}
.puggy{
    font-size: 20px;
    font-weight: bold;
    margin-bottom: 50px;
    text-align: left;
    color: #2e5383;
    position: relative; bottom: -60px;
    font-family: 'NanumBarunpen';
    right: -200px;
    bottom: -100px;
   
}


.yo{
    font-size: 32px;
    text-align: left;
    margin-bottom: 90px;
    position: relative; bottom: -60px;
    font-family: 'NanumBarunpen';
    right: -200px; 
    bottom: -90px;
}

/* ↓ 길뭉치 로고 */
.img{
    width: 450px;
    position: relative; left: 1020px;
    top: -220px;
}
.inner-container2{
    position: relative; top:-170px;
}

.큰제목{
    font-size: 29px;
    font-weight: bold;
    margin-bottom: 50px;
    text-align: left;
    color: #2e5383;
    position: relative; bottom: -60px;
    font-family: 'NanumBarunpen';
    right: -200px;
}

.부제목{
    font-size: 32px;
    text-align: left;
    margin-bottom: 90px;
    position: relative; bottom: -60px;
    font-family: 'NanumBarunpen';
    right: -200px; 
}

.fit-picture {
    width: 450px;
    height: 400px;
    position: relative; left: 1000px;
    position: relative; top: -100px;
}

.jocontainer{
    text-align: center;
    position: relative; bottom: -150px;
    position: relative; left: -33px;
    right: -20px;
    position: relative; top: -200px;
    right: -300px;
    
}
.name{
    font-size: 20px;
    color: #2e5383;
    display: flex;
    margin-left: 40px;
    margin-top: 10px;
    position: relative; bottom: -80px;
   
    
}

.joy{
    font-size:21px;
    color: black;
}
.ket{
    font-size:21px;
    color: black;
}
 
.vel{
    font-size:21px;
    color: black;
}
 
.don{
    font-size:21px;
    color: black;
}
 
 