.Main-container {
    position: relative;
    width: 1040px;
    margin: 0 auto;
}
#roof { 
    height: 70px;
}
#roof > img {
    position: relative; right: -200px;
}
#roof > h1 {
    position: relative;
    left: 285px;
    bottom: 79px;
}
.container {
    height: 70px;
}
body, ul, li {
    margin: 0;
    padding: 0;
    list-style: none;
    font-family: 'NanumBarunpen';
}
.menu {
    text-align: center;
}
.menu > ul {
    background-color: #c5d4eb;
    padding: 10px 30px; 
    border-radius: 5px;
}
.menu > ul > li {
    display: inline-block;   
    margin-top: 5px;
    width: 450px;
    height: 40px;
    font-size: 25px;
    cursor: pointer;
    transition: opacity .1s ease .1s;

}
/* 요기부턴 컨텍트 */
.inner-container1 {
    position: relative; right: -10px;
    left:10px;
    height: 950px;
}
.큰제목 {
    font-size: 40px;
    font-weight: bold;
    text-align: left;
    color: #2e5383;
    position: relative; bottom: -80px;
    font-family: 'NanumBarunpen';
    left:220px;
   
}
.작은제목 {
    font-size: 35px;
    text-align: left;
    position: relative; bottom: -100px;
    font-family: 'NanumBarunpen';
    left:220px;     