body, ul, li {
    margin: 0;
    padding: 0;
    list-style: none;
}
.menu {
    text-align: center;
}
.menu > ul {
    background-color: #c5d4eb;
    padding: 10px 30px; 
    border-radius: 5px;
}
.menu > ul > li {
    display: inline-block;   
    margin-top: 15px;
    width: 250px;
    height: 40px;
    font-size: 15px;
    cursor: pointer;
    transition: opacity .1s ease .1s;

}

//조이
.inner-container1
{
    position: relative; right: -140px;
}

.puggy{
    font-size: 30px;
    font-weight: bold;
    margin-bottom: 30px;
    text-align: left;
    color: #2e5383;
    position: relative; bottom: -60px;
   
}

.yo{
    font-size: 25px;
    text-align: left;
    margin-bottom: 90px;
    position: relative; bottom: -60px;
}

.img{
    position: relative; right: -900px;
    position: relative; top: -60px;
};

//요기서부터 케찹 부분임
.inner-container2
{
    position: relative; right: -140px;
}

.큰제목{
    
    font-size: 30px;
    font-weight: bold;
    margin-bottom: 30px;
    text-align: left;
    color: #2e5383;
    font-family: 'NanumBarunpen';
}
.부제목{
    font-size: 25px;
    text-align: left;
    margin-bottom: 90px;
    font-family: 'NanumBarunpen';
}
.fit-picture {
    width: 350px;
    float: right;
    position: relative; left: -240px;
}

//요기서부터 블리부분

img{
    display:block;
    margin:130px auto;
    width:1000px;
    height:300px;
    
    
  }

#logo{
    position: absolute;
    left:230px;
    top: 80px;
    font-size: 35px;
    font-weight: bold;
    color: #2e5383;

}


.joy {
      position: absolute;
      left:302px;
      bottom: 280px;
      font-size: 20px;
      font-weight: bold;
     
}
.k {
  position: absolute;
  left:555px;
  bottom: 280px;
  font-size: 20px;
  font-weight: bold;
  color: #333333;
}
.v {
  position: absolute;
  left:800px;
  bottom: 280px;
  font-size: 20px;
  font-weight: bold;
  color: #555555;
}

.d {
  position: absolute;
  left:1033px;
  bottom: 280px;
  font-size: 20px;
  font-weight: bold;
  color: #777777;
}
