#roof { 
    height: 50px;
}
.container {
    display: inline-block;
    width: 1050px;
    height: 70px;
}
body, ul, li {
    margin: 0;
    padding: 0;
    list-style: none;
    font-family: 'NanumBarunpen';
}
.menu {
    text-align: center;
}
.menu > ul {
    background-color: #c5d4eb;
    padding: 10px 30px; 
    border-radius: 5px;
}
.menu > ul > li {
    display: inline-block;   
    margin-top: 12px;
    width: 250px;
    height: 40px;
    font-size: 25px;
    cursor: pointer;
    transition: opacity .1s ease .1s;

}

//조이
.inner-container1
{
    position: relative; right: -120px;
    left: 50px;
    width: 50px;
}
/* ↓ 길뭉치 STUDIO~ */
.puggy{
    font-size: 30px;
    font-weight: bold;
    margin-bottom: 50px;
    text-align: left;
    color: #2e5383;
    position: relative; bottom: -60px;
    font-family: 'NanumBarunpen';
    left:50px;
   
}
/* ↓ 유기견보호소의 안락사율 ~ */
.yo{
    font-size: 25px;
    text-align: left;
    margin-bottom: 90px;
    position: relative; bottom: -60px;
    font-family: 'NanumBarunpen';
    left:50px;
}
/* ↓ 길뭉치 로고 */
.img{
    position: relative; right: -600px;
    position: relative; bottom: 220px;
};

//요기서부터 케찹 부분임
.inner-container2
{
    position: relative; right: -120px;
    left:50px;
}

.큰제목{
    font-size: 30px;
    font-weight: bold;
    margin-bottom: 30px;
    text-align: left;
    color: #2e5383;
    position: relative; bottom: -60px;
    font-family: 'NanumBarunpen';
    left:50px;
   
}
.부제목{
    
    font-size: 25px;
    text-align: left;
    margin-bottom: 90px;
    position: relative; bottom: -60px;
    font-family: 'NanumBarunpen';
    left:50px;
    
    
    
    
}
/* ↓ 멍멍이 움짤 */
.fit-picture {
    width: 350px;
    position: relative; right: -600px;
    position: relative; top: -60px;
    
}

//요기서부터 블리부분

img{
    display:block;
    margin:130px auto;
    width:1000px;
    height:300px;
    
    
  }

#logo{
    
    position: absolute;
    left:50px;
    top: 1200px;
    font-size: 30px;
    font-weight: bold;
    color: #2e5383;
    font-family: 'NanumBarunpen';

}


.joy {
      position: relative;
      left:95px;
      top: 0px;
      font-size: 20px;
      font-weight: bold;
      font-family: 'NanumBarunpen';
     
}
.k {
  position: relative;
  left:395px;
  top: -25px;
  font-size: 20px;
  font-weight: bold;
  color: #333333;
  font-family: 'NanumBarunpen';
}
.v {
  position: relative;
  left:720px;
  top: -53px;
  font-size: 20px;
  font-weight: bold;
  color: #555555;
  font-family: 'NanumBarunpen';
}

.d {
  position: relative;
  left:987px;
  top: -82px;
  font-size: 20px;
  font-weight: bold;
  color: #777777;
  font-family: 'NanumBarunpen';
}

.ggg {
    position: absolute;
    left:130px;
    bottom: 90px;
    font-size: 20px;
    
    color: #6b97b5;
    font-family: 'NanumBarunpen';
}
 .ccc {
    color: black;
 font-size: 20px;
 text-align: left;
 margin-bottom: 90px;
 position: relative; bottom: -50px;
 font-family: 'NanumBarunpen';
 left:0px;
 }

